# What is a TfidfVectorizer?

TF (Term Frequency): The number of times a word appears in a document is its Term Frequency. A higher value means a term appears more often than others, and so, the document is a good match when the term is part of the search terms.

IDF (Inverse Document Frequency): Words that occur many times a document, but also occur many times in many others, may be irrelevant. IDF is a measure of how significant a term is in the entire corpus.

The TfidfVectorizer converts a collection of raw documents into a matrix of TF-IDF features.

# What is a PassiveAggressiveClassifier?

Passive Aggressive algorithms are online learning algorithms. Such an algorithm remains passive for a correct classification outcome, and turns aggressive in the event of a miscalculation, updating and adjusting. Unlike most other algorithms, it does not converge. Its purpose is to make updates that correct the loss, causing very little change in the norm of the weight vector.

In [5]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [6]:
notfake = pd.read_csv('notfake_newsdataset.csv')

In [7]:
fake=pd.read_csv('fake_newsdataset.csv')

In [8]:
notfake['target']=1
fake['target']=0
df = pd.concat([notfake , fake] , ignore_index=True)
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [9]:
df.head(20)

,title,text,subject,date,target
0,BREAKING: GOP Chairman Grassley Has Had Enoug...,"Donald Trump s White House is in chaos, and th...",News,"July 21, 2017",0
1,Failed GOP Candidates Remembered In Hilarious...,Now that Donald Trump is the presumptive GOP n...,News,"May 7, 2016",0
2,Mike Pence’s New DC Neighbors Are HILARIOUSLY...,Mike Pence is a huge homophobe. He supports ex...,News,"December 3, 2016",0
3,California AG pledges to defend birth control ...,SAN FRANCISCO (Reuters) - California Attorney ...,politicsNews,"October 6, 2017",1
4,AZ RANCHERS Living On US-Mexico Border Destroy...,Twisted reasoning is all that comes from Pelos...,politics,"Apr 25, 2017",0
5,"As private lawyer, Trump high court pick was f...",WASHINGTON (Reuters) - As a lawyer in private ...,politicsNews,"February 1, 2017",1
6,Yemeni Salafist imam killed in Aden: sources,ADEN (Reuters) - A Salafist imam was shot dead...,worldnews,"October 28, 2017",1
7,FBI says witnesses in U.S. probe into Malaysia...,KUALA LUMPUR (Reuters) - Potential witnesses t...,worldnews,"September 6, 2017",1
8,An Easy To Read Chart Shows How Bernie Sanders...,The goal of socialism is communism. -Vladimi...,politics,"Feb 24, 2016",0
9,MMA FIGHTER JAKE SHIELDS Embarrasses Cowards I...,Opposing views and beliefs has much of this co...,politics,"Feb 4, 2017",0
10,"Tired Of Things Going Well, Marco Rubio Makes...",Listening to several of the Republican candida...,News,"January 1, 2016",0
11,"Yemen air strike kills eight women, two childr...",DUBAI (Reuters) - Eight women and two children...,worldnews,"December 18, 2017",1
12,BREAKING: WDBJ KILLER WAS ANGRY BLACK DEMOCRAT...,"An angry black, gay, racist, Democrat victim t...",politics,"Aug 26, 2015",0
13,LIST OF 22 TIMES OBAMA Called Phony Climate Ch...,Oh the irony of a terror attack by Muslims tak...,politics,"Dec 3, 2015",0
14,Indo-Pacific? Not from where China is sitting...,BEIJING/NEW DELHI (Reuters) - As U.S. Presiden...,worldnews,"November 10, 2017",1
15,ART CONTEST WINNER Disqualified for Being a Tr...,"So now if you enter a contest, you need to wor...",politics,"Jul 23, 2017",0
16,'Lips and teeth' no more as China's ties with ...,BEIJING (Reuters) - When Kim Jong Un inherited...,worldnews,"September 8, 2017",1
17,"Factbox: Trump on Twitter (Sept 25) - NASCAR, ...",The following statements were posted to the ve...,politicsNews,"September 26, 2017",1
18,Judge declines to dismiss bribery charges agai...,"NEWARK, N.J. (Reuters) - The bribery case agai...",politicsNews,"October 16, 2017",1
19,FATHER OF BENGHAZI VICTIM TY WOODS SPEAKS UP A...,,politics,"Sep 10, 2016",0

In [10]:
df.shape

(44898, 5)

In [11]:
def summary(df):
    sum_df = pd.DataFrame(df.dtypes, columns=["dtypes"])
    sum_df["missing"] = df.isna().sum()
    sum_df["missing %"] = (df.isna().sum())/ len(df)
    sum_df["uniques"] = df.nunique().values
    sum_df["count"] = df.count().values
    return sum_df.sort_values("missing %", ascending=False)
summary(df)

         dtypes  missing  missing %  uniques  count
title    object        0        0.0    38729  44898
text     object        0        0.0    38646  44898
subject  object        0        0.0        8  44898
date     object        0        0.0     2397  44898
target    int64        0        0.0        2  44898

In [12]:
df.drop(['date','subject'],axis='columns',inplace=True)

In [13]:
df.columns

Index(['title', 'text', 'target'], dtype='object')

In [14]:
#DataFlair - Split the dataset
X = df.text
X.head(10)

0    Donald Trump s White House is in chaos, and th...
1    Now that Donald Trump is the presumptive GOP n...
2    Mike Pence is a huge homophobe. He supports ex...
3    SAN FRANCISCO (Reuters) - California Attorney ...
4    Twisted reasoning is all that comes from Pelos...
5    WASHINGTON (Reuters) - As a lawyer in private ...
6    ADEN (Reuters) - A Salafist imam was shot dead...
7    KUALA LUMPUR (Reuters) - Potential witnesses t...
8     The goal of socialism is communism.  -Vladimi...
9    Opposing views and beliefs has much of this co...
Name: text, dtype: object

In [15]:
y = df.target
y.head(10)

0    0
1    0
2    0
3    1
4    0
5    1
6    1
7    1
8    0
9    0
Name: target, dtype: int64

In [27]:
import sweetviz as sv
my_report=sv.analyze(df)
my_report.show_html()

                                             |                                             | [  0%]   00:00 ->…

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [87]:
#DataFlair - Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)

#DataFlair - Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(X_train) 
tfidf_test=tfidf_vectorizer.transform(X_test)

In [89]:
#DataFlair - Initialize a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)

# #DataFlair - Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 99.38%

In [91]:
#DataFlair - Build confusion matrix
confusion_matrix(y_test,y_pred, labels=[0,1])

array([[4589,   28],
       [  28, 4335]], dtype=int64)